/**************************************/


/*For laptops*/


/**************************************/

@media (max-width: 84em) {
    .hero {
        width: fit-content;
        align-items: center;
        justify-content: center;
    }
    .heading-primary {
        font-size: 5.2rem;
    }
    .heading-primary .red-accent {
        font-size: 5.2rem;
    }
}


/**************************************/


/*For tablets*/


/**************************************/

@media (max-width: 62em) {
    html {
        font-size: 56.25%;
    }
    .grid-2-cols {
        grid-template-columns: 1fr;
    }
    .features-img:nth-child(3) {
        grid-row: 4;
    }
    .feature-text-box {
        width: 65%;
    }
    .features-img {
        width: 65%;
        margin-bottom: 20rem;
    }
    .forum {
        text-align: center;
    }
    .forum-description {
        padding-left: 0;
    }
    .h-pad {
        padding-left: 0;
        text-align: center;
    }
    /* MOBILE NAVIGATION */
    .btn-mobile-nav {
        display: block;
        z-index: 9999;
    }
    .main-nav {
        background-color: rgba(220, 122, 133, 0.7);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;
        /* Hide navigation */
        /* Allows NO transitions at all */
        /* display: none; */
        /* 1) Hide it visually */
        opacity: 0;
        /* 2) Make it unaccessible to mouse and keyboard */
        pointer-events: none;
        /* 3) Hide it from screen readers */
        visibility: hidden;
    }
    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }
    .main-nav {
        flex-direction: column;
        gap: 4.8rem;
    }
    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 3rem;
        color: #111;
    }
    .cta {
        grid-template-columns: 1fr;
    }
    .cta-box-img {
        height: 35rem;
        grid-row: 1;
    }
    .hero-section {
        text-align: center;
        padding: 0 6.4rem;
        background: rgba(0, 0, 0, 0.4) url(img/background/mazda.jpg);
        background-size: cover;
        background-position: center center;
        background-blend-mode: darken;
    }
}


/**************************************/


/*For small tablets*/


/**************************************/

@media (max-width: 53em) {
    html {
        font-size: 50%;
    }
    /**************************************/
    /*For phones*/
    /**************************************/
    @media (max-width: 36em) {
        html {
            font-size: 43.75%;
        }
        .hero-section {
            height: 100vh;
        }
        .grid-footer {
            grid-template-columns: 1fr;
        }
        .form-cta {
            grid-template-columns: 1fr;
        }
        .logo-img {
            height: 3rem;
        }
        .btn-what:link,
        .btn-what:visited {
            margin: 2rem 0 0 2rem;
        }
        .btn-forum:link,
        .btn-forum:visited {
            margin: 2rem 0 0 2rem;
        }
        .features-img {
            width: 75%;
            height: 75%;
            margin-bottom: 4.6rem;
        }
        .btn:link,
        .btn:visited {
            margin: 2rem 0 0 2rem;
        }
        .form-cta input,
        .form-cta select,
        .form-cta label {
            width: 100%;
            height: 7rem;
        }
        .btn--form {
            padding: 2.4rem 0;
        }
        .form-cta {
            justify-items: stretch;
            align-items: center;
        }
        .hero-text-secondary {
            margin-bottom: 4.6rem;
        }
        .social-links {
            margin-bottom: 3.2rem;
        }
    }
}