/* CSS Code copyright by Popa Cristian Alexandru
*/


/******************************/


/*GENERAL SELECTORS*/


/*****************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    /* overflow: hidden; */
    font-family: "Oswald", sans-serif;
    overflow-x: hidden;
}


/************************************/


/* HERO */


/************************************/

.background {
    background: linear-gradient(0.2turn, rgb(1, 1, 1) 35%, #c52233 55%);
}

.hero-text-main {
    max-width: 65rem;
    padding-top: 20rem;
}

.hero-text-secondary {
    font-size: 2rem;
    line-height: 1.6em;
}

.hero {
    display: flex;
    justify-content: end;
    color: #ecf1f5;
    height: 100vh;
}

.hero-section {
    background-image: url(img/background/toyota.jpg);
    background-size: cover;
    padding-bottom: 3.6rem;
}

.feature {
    align-self: center;
    justify-self: center;
}


/************************************/


/* HEADER */


/************************************/

.header {
    grid-column: 1 / -1;
    align-items: center;
    /* max-width: 100%; */
    padding: 0rem 4.8rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(0.15turn, rgb(1, 1, 1) 35%, #c52233 45%);
}

.logo-img {
    height: 5rem;
}

.heading-primary {
    letter-spacing: -0.1rem;
    line-height: 1;
    font-size: 6rem;
    font-weight: 700;
    padding: 1rem 0rem 4rem 0rem;
}

.heading-primary .red-accent {
    color: #c52233;
    letter-spacing: -0.1rem;
    line-height: 1.1;
    font-size: 6.4rem;
    padding: 1rem 0rem 4rem 0rem;
    font-weight: 700;
}

.heading-secondary {
    text-transform: uppercase;
    font-size: 4.2rem;
    font-weight: 600;
    padding: 4.6rem 0 4.6rem 0;
    color: #ecf1f5;
}

.h-pad {
    padding-left: 4.6rem;
}

.heading-tertiary {
    font-size: 3.6rem;
    font-weight: 500;
    padding-bottom: 4.8rem;
}

.feature-description {
    font-size: 2.4rem;
    word-spacing: 0.2rem;
    color: #eee;
    text-justify: center;
}

.forum-description {
    font-size: 2.4rem;
    font-weight: 500;
    color: #ecf1f5;
    padding: 2.4rem 0 2.4rem 4.2rem;
}


/************************************/


/* GENERAL REUSABLE COMPONENTS */


/************************************/

.icon-btn {
    padding-right: 1rem;
}

.btn-big:link,
.btn-big:visited {
    background-color: #c52233;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 600;
    display: inline-block;
    color: #ecf1f5;
    border: none;
    border-radius: 9px;
    padding: 1.6rem 3.2rem;
    /* margin-top: 4rem; */
    transition: all 0.4s;
}

.btn:link,
.btn:visited {
    background-color: #c52233;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 600;
    display: inline-block;
    color: #ecf1f5;
    border: none;
    border-radius: 9px;
    padding: 1.6rem 3.2rem;
    margin-top: 4rem;
    transition: all 0.4s;
}

.btn:hover,
.btn:active {
    background-color: #ecf1f5;
    color: #c52233;
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.4);
}

.btn-forum:link,
.btn-forum:visited {
    margin: 2rem 0 2rem 4.2rem;
    background-color: #ecf1f5;
    color: #c52233;
}

.btn-forum:hover,
.btn-forum:active {
    background-color: #111;
    color: #ecf1f5;
}

.btn-what:link,
.btn-what:visited {
    background-color: #111;
    text-decoration: none;
    padding: 1.6rem 3.2rem;
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 500;
    border: none;
    border-radius: 9px;
    margin: 0 2.4rem;
    transition: all 0.3s;
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.4);
}

.btn-what:hover,
.btn-what:active {
    background-color: #ecf1f5;
    color: #111;
}

.main-nav-link:link,
.main-nav-line:visited {
    text-decoration: none;
    display: inline-block;
    padding: 0 2.5rem;
    color: #ecf1f5;
}

.main-nav-link:hover,
.main-nav-line:active {
    color: #484a47;
    transition: all 0.3s;
}

.btn-nav:link,
.btn-nav:visited {
    color: #ecf1f5;
    border-radius: 9px;
    padding: 0.8rem 1.6rem;
}

.btn-nav:hover,
.btn-nav:active {
    background-color: #ecf1f5;
    color: #c52233;
}

.grid--v {
    align-items: end;
}


/***********************************/


/* FEATURES SECTION */


/**********************************/

.features-title {
    font-weight: 500;
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
    /* stroke: #495057; */
}

.container {
    max-width: 120rem;
    padding: 6.4rem 0rem;
    color: #ecf1f5;
    margin: 0 auto;
}

.grid-end {
    padding: 4.6rem;
    align-items: center;
    justify-items: center;
}

.grid-2-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 9.2rem;
}

.features-img {
    border-radius: 9px;
    width: 45rem;
    height: 45rem;
}

.feature-img {
    justify-self: end;
    width: 100%;
    transition: all 0.4s;
    border-radius: 9px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.feature-text-box {
    width: 80%;
}

.about-h2 {
    padding-left: 9.6rem;
}


/***********************************/


/* CTA SECTION */


/**********************************/

.section-cta {
    padding: 9.6rem 0;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
    border-radius: 11px;
    background-image: linear-gradient(to right bottom, #d14e5c, #c52233);
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.cta-box-img {
    background-image: url(img/background/porsche.jpg);
    background-size: cover;
    background-position: center;
    /* height: 50rem;
    width: 50rem; */
}

.cta-text {
    padding: 4.6rem;
    font-size: 2rem;
}

.form-heading {
    padding: 4.6rem;
}

.form-cta {
    margin: 0 auto;
    max-width: 70rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-bottom: 4.6rem;
}

.form-cta input,
.form-cta select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 9px;
    background-color: #ecf1f5;
    color: #484a47;
}

.form-cta label {
    font-size: 1.8rem;
}

.btn--form {
    padding: 1.2rem 7.4rem;
    border-radius: 9px;
    align-self: end;
    font-size: 2rem;
    font-weight: 600;
    color: #c52233;
    border: none;
    transition: all 0.4s;
    cursor: pointer;
}

.btn--form:hover {
    background-color: #484a47;
    color: #fff;
}


/***********************************/


/* Forum cta */


/**********************************/

.forum {
    padding: 0 4.6rem;
}


/**************************************/


/*mobile*/


/***************************************/

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #111;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}


/* STICKY NAVIGATION */

.sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(220, 122, 133, 1);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
    margin-top: 9.6rem;
}


/***********************************/


/* FOOTER SECTION */


/**********************************/

.footer {
    background-color: #111;
    border-top: 1px solid #ecf1f5;
    padding: 9.6rem 4.6rem;
    color: #ecf1f5;
}

.grid-footer {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 4.6rem;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: block;
    margin-bottom: 3.2rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.social-icon {
    height: 2.4rem;
    width: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #ecf1f5;
    margin-top: auto;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {
    margin-bottom: 2.4rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #ecf1f5;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: #555;
}